:root{
    --clr1: #292929;
    --clr2: #E1E0E0;
    --clr3: #C2C2C2;
    --clr4: #58C93A;
    --clr5: #4F4E4E;
    --clr6: #606060;
    --clr7: #818181;
    --clr8: #F8F8F8;
    --clr9: #e5e5e5;
}